body {
    background-color: #002E61;
    font-family: "Titillium Web", sans-serif;
    padding-top: 100px;
}
.color-logo{
    background-color: #002E61;
}
.dropdown-item:hover {
    background-color: #014488 !important;
    color: white !important;
}
.navbar-toggler {
    border-color: white !important;
}
main.index {
    max-width: 100%;
    background-color: #040810;
}
main.index img {
    max-width: 100%; 
    display: block;
    margin: 0 auto;
}
main.index h1{
    color: #F5FAFF;
    margin-left: 20px
}
main.index h2{
    color: #F5FAFF;
    margin: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}
section {
    background-color: #002E61;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 30px;  
    padding: 20px;
}
main.Noticias.DVV {
  padding-top: 5rem;
  background-color: #263238
}
.fondo-noticias {
    background-color: #263238;
}
section .Resumenes {
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
section .Noticias {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 1rem;
    color: #002E61;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.Noticias h2 {
    text-align: center;
    margin-bottom: 1rem;
}
.Noticias img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.Noticias p {
    text-align: left;
    line-height: 1.6;
    margin-top: auto;
}
main.Noticias.DVV h1 {
    text-align: center;
    color: white;
}
.linea-separadora {
    width: 100%;
    max-width: 100%;
    height: 2px;
    background-color: white;
    margin: 5rem auto 5rem;
    opacity: 1;
}

section .Resumenes h3,
section .Resumenes h4,
section .Resumenes h5 {
    font-size: 1.5em; 
    font-weight: bold;
    color: #F5FAFF;
    text-align: center;
    margin-bottom: 15px;
}
section .Resumenes p {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 15px;
    white-space: nowrap;
}
section .Resumenes .img {
    display: flex;
    justify-content: center;
    align-items: center;
}
section .Resumenes .img .grafico1 {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    section .Resumenes {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}
.Texto_Adjunto {
    color: black; 
    margin: 20px;
    font-size: 0.8em;
}
footer {
    color: #F5FAFF; 
    text-align: right; 
    font-weight: bold;
    font-style: italic;
    margin: 20px;
}
main.JIRA {
    text-align: center; 
    background-color: #263238;
    padding: 50px;
}
main.JIRA h1 {
    color: #F5FAFF; 
    text-align: center; 
    font-weight: bold;
    margin: 20px;
}
.form-label-JIRA {
    color: #F5FAFF !important;
}
.mb-3 { 
    text-align: left !important; 
}
.Carga_JIRA{
    color: #F5FAFF;
    text-align: left;
}
.login-card {
    width: 100%;
    max-width: 300px;
    border: 0;
    border-radius: 12px;
}
