// Variables de colores
$color-principal: #002E61;
$color-secundario: #263238;
$color-texto: #F5FAFF;
$color-hover: #014488;
$color-blanco: #ffffff;
$color-negro: #000000;
$fuente-principal: "Titillium Web", sans-serif;