body {
  font-family: "Titillium Web", sans-serif;
  padding-top: 100px;
  background-color: #002E61;
}

.bg-azul {
  background-color: #002E61;
}

.bg-oscuro, main.index {
  background-color: #040810;
}

.bg-gris, section .noticias fondo-noticias {
  background-color: #263238;
}

.bg-claro, section .noticias {
  background-color: #f9f9f9;
}

.bg-negro {
  background-color: #000000;
}

.bg-blanco {
  background-color: #ffffff;
}

main.index {
  max-width: 100%;
}
main.index img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
main.index h1 {
  color: #F5FAFF;
  margin-left: 20px;
}
main.index h2 {
  color: #F5FAFF;
  margin: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}
main.jira {
  text-align: center;
  background-color: #263238;
  padding: 50px;
}
main.jira h1 {
  color: #F5FAFF;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
main.noticias.dvv {
  padding-top: 5rem;
  background-color: #263238;
}
main.noticias.dvv h1 {
  text-align: center;
  color: #F5FAFF;
}

section {
  background-color: #002E61;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px;
}
section .resumenes {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
section .resumenes h3, section .resumenes h4, section .resumenes h5 {
  font-size: 1.5em;
  font-weight: bold;
  color: #F5FAFF;
  text-align: center;
  margin-bottom: 15px;
}
section .resumenes p {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 15px;
  white-space: nowrap;
}
section .resumenes .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .resumenes .img .grafico1 {
  max-width: 100%;
  height: auto;
}
section .noticias {
  border-radius: 8px;
  padding: 1rem;
  color: #002E61;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
section .noticias h2 {
  text-align: center;
  margin-bottom: 1rem;
}
section .noticias img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}
section .noticias p {
  text-align: left;
  line-height: 1.6;
  margin-top: auto;
}

.color-logo {
  background-color: #002E61;
}

.navbar-toggler {
  border-color: #ffffff !important;
}

.dropdown-item:hover {
  background-color: #014488 !important;
  color: #ffffff !important;
}

.linea-separadora {
  width: 100%;
  max-width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin: 5rem auto 5rem;
  opacity: 1;
}

.form-label-jira {
  color: #F5FAFF !important;
}

.mb-3 {
  text-align: left !important;
}

.carga_jira {
  color: #F5FAFF;
  text-align: left;
}

footer {
  color: #F5FAFF;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  margin: 20px;
}

.login-card {
  width: 100%;
  max-width: 300px;
  border: 0;
  border-radius: 12px;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  section .resumenes {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
@keyframes zoomInUpCustom {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(1000px);
  }
  60% {
    opacity: 1;
    transform: scale(0.475) translateY(-60px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
.zoom-in-up {
  animation: zoomInUpCustom 0.8s ease-out;
}

@keyframes zoomInDownCustom {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(-1000px);
  }
  60% {
    opacity: 1;
    transform: scale(0.475) translateY(60px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
.zoom-in-down {
  animation: zoomInDownCustom 0.8s ease-out;
}

#grafico1,
#grafico2,
#grafico3,
#tablavolumen,
#main {
  width: 100%;
  max-width: 100%;
  height: 400px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
